@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');


body{
  font-size: 16px;
  background: white;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}

.App {
  text-align: center;
}

.App-header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  top:4em;
}
.heading-background{
  position: fixed;
  opacity: 0.05;
  font-size: 21em;
  left:-0.2em;
  top:-0.5em;
  z-index: -100;
  color:#9352ae;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header h1{
font-size: 1.2em;
font-weight: 400;  
padding: 2em;
margin-right: 50em;
}

nav{
  position:fixed;
  left:60em;
  top:6em;
  height: 3em;
  align-items: center;
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* background-color: blue; */
  border-radius: 5px;
  z-index: 100;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a0809+7,0a0e0a+12,0a0e0a+17,0a0e0a+17,6e7774+96 */
  background: #0a0809; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iIzBhMDgwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEyJSIgc3RvcC1jb2xvcj0iIzBhMGUwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzBhMGUwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzBhMGUwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iIzZlNzc3NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left,  #0a0809 7%, #0a0e0a 12%, #0a0e0a 17%, #0a0e0a 17%, #6e7774 96%); /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, right top, color-stop(7%,#0a0809), color-stop(12%,#0a0e0a), color-stop(17%,#0a0e0a), color-stop(17%,#0a0e0a), color-stop(96%,#6e7774)); /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(left,  #0a0809 7%,#0a0e0a 12%,#0a0e0a 17%,#0a0e0a 17%,#6e7774 96%); /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(left,  #0a0809 7%,#0a0e0a 12%,#0a0e0a 17%,#0a0e0a 17%,#6e7774 96%); /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(left,  #0a0809 7%,#0a0e0a 12%,#0a0e0a 17%,#0a0e0a 17%,#6e7774 96%); /* IE10 preview */
  background: linear-gradient(to right,  #0a0809 7%,#0a0e0a 12%,#0a0e0a 17%,#0a0e0a 17%,#6e7774 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#6e7774',GradientType=1 ); /* IE6-8 */

}

.sticky {
  position: sticky;
  top: 0;
  height: 3em;
  align-items: center;
  display: flex;
  align-items: center;
  width: 100%;
}

nav li{
  display: inline-block;
  cursor: pointer;
}
nav li .link{
  text-decoration: none;
  color: white;
  padding:1em;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: 1;
}
.active{
  color:black;
  opacity: 1;
}

.header-title button{
  background: black;
  border: 0px;
  padding: 1em 3em;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.header-title button:hover{
  opacity: 0.8;
}
.header-title button a{
  font-family: 'Open Sans', sans-serif;
  color:white;
  text-decoration: none;
}
.header-title{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  text-align: left;
  top:2em;
}
.about{
  display: flex;
  flex-direction: row;
}
.about-content{
  position: relative;
  left:12em;
}
.about-content h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.about-content p{
  font-size: 1.3em;
  text-align: left;
  width: 37em;
}
.about img{
  margin-left: 5em;
}
.work, .projects{
  position: relative;
  display: flex;
  flex-direction: column;
  left:18em;
  top:8em;
  align-items: flex-start;
}
.work .heading, .projects .heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}

.work .work-content{
  display: grid;
  width: 70em;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2em;
}

.projects .work-content{
  display: grid;
  width: 70em;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2em;
}

.project img{
  width: 15em;  
  height: 15em;
  border-radius: 3em;
  -webkit-box-shadow: 17px 10px 32px -2px rgba(0,0,0,0.65);
  -moz-box-shadow: 17px 10px 32px -2px rgba(0,0,0,0.65);
  box-shadow: 17px 10px 32px -2px rgba(0,0,0,0.65);
}

.project img:hover{
  -moz-transform: scale(1.11);
  -webkit-transform: scale(1.11);
  -o-transform: scale(1.11);
  -ms-transform: scale(1.11);
  transform: scale(1.11);
}

.work-description{
  text-align: justify;
}
.contact{
  position: relative;
  top:20em;
  left:12em;
  text-align: left;
}
.contact h1{
    font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.amazing-color{
  color:#9352ae;
  opacity: 1;
}

.contact .email{
  color:black;
  font-size: 2em;
}
.contact li{
  display: inline-block;
  margin-top:0;
  margin-bottom: 0;
  margin-right: 1em;
  margin-left: 0;
}
.contact li a{
  text-decoration: none;
  color:black;
}
.footer{
  position: relative;
  top:2em;
  padding: 1em;
}
.footer a{
  text-decoration: none;
  color:#2c59fb;
}


/* SMARTPHONES PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width : 480px){

  body{
    font-size: 6px;
  }
  header h1{
font-size: 5em;  
padding: 1em;
margin-right: 0em;
}

.heading-background{
  display: none;
}
nav{
  display: none;
}
.header-title{
  font-size: 3em;
  text-align: left;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-30em;
}
.about img{
  display: none
}
.about-content{
  left:2em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 300px;
}

.work, .projects{
  left:2em;
  top:2em;
  align-items: flex-start;
}
.work .work-content, .projects .work-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5em;
}

.project img{
width: 45em;  
height: 45em;
}

.contact{
  top:15em;
  left:2em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
}

.contact li{
  display: block;
  padding: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 2em;
}


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


body{
    font-size: 10px;
  }
header h1{
font-size: 5em;  
padding: 1em;
margin-right: 0em;
}

nav{
  display: none;
}
.header-title{
  font-size: 3.6em;
  text-align: left;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-10em;
}
.about img{
  display: none
}
.about-content{
  left:6em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 700px;
}

.work, .projects{
  left:6em;
  top:4em;
  align-items: flex-start;
}
.work .work-content, .projects .work-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
}
.project img{
width: 30em;  
height: 30em;
}

.contact{
  top:15em;
  left:6em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
}

.contact li{
  display: block;
  padding: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 2em;
}

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */



body{
    font-size: 20px;
  }
  header h1{
    font-size: 3em;
    margin-right: 25em;
  }


  nav{
  left:60em;
  top:12em;
  z-index: 100;
}
nav li{
   font-size: 3em;

}
.header-title{
  font-size: 5em;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-20em;
}
.about-content{
  left:10em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 25em;
}
.about img{
  margin-left: 1em;
}

.work, .projects{
  left:10em;
  top:4em;
  align-items: flex-start;
}
.work .work-content, .projects .work-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.project img{
width: 32em;  
height: 32em;
}

.contact{
  top:10em;
  left:8em;
}
.contact h1{
  font-size: 8em;
}
.contact .email{
  font-size: 5em;
}

.contact li a{
  font-size: 4em;
  padding: 1em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 4em;
}


}


